.intro {
margin: auto;
/*revisar como medir las dimensiones entre bloques*/
}

.intro__paragraphs {
  max-width: 830px;
  margin-top: 78px;
}

.intro__title {
margin: auto;
width: 90%;
/*max-width: 830px;*/
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
color: #FFFFFF;
}

.intro__text-quote {
margin: 39.98px auto;
width: 90%;
/*max-width: 738px;*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;

}

.intro__text-author {
  margin-top: 10px;
margin-right: auto;
/*display flex y justify contente flex end o probar text align*/
width: 90%;
/*max-width: 732px;*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: right;
color: #FFFFFF;
}

.intro__text {
margin: 31.99px auto;
width: 90%;
/*max-width: 722px;*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;

}