.content {
  margin: auto;
  max-width: 984px;
}

.lead {
margin-top: 91px;
}

.lead__title {
width: 100%;
max-width: 720px;
margin: auto;
font-family: "Inter", sans-serif;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
color: #FFFFFF;

}

.lead__subtitle {
max-width: 720px;
width: 100%;
margin: 32px auto auto;
font-family: "Inter", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;

}

.lead__image {
margin: auto;
margin-top: 64px;
display: block;
max-width: 984px;
width: 100%;
height: auto;

}

@media screen and (min-width:540px) and (max-width:1024px) {

.lead__title {
width: 100%;
max-width: 530px;
font-family: "Inter", sans-serif;
font-size: 75px;
font-weight: 900;
line-height: 79px;

}

.lead__image {
max-width: 768px;
height: auto;
width: 100%;
display: block;
}


}

@media screen and (min-width:320px) and (max-width:544px) {
  .lead__title {
    max-width: 228px;
    width: 100%;
    font-size: 40px;
    line-height: 44px;
    }

    .lead__subtitle {
     max-width: 288px;
     width: 100%;
     font-size: 16px;
     line-height: 20px;

    }

    .lead__image {
    max-width: 320px;
    height: auto;
    width: 100%;
    }
}